



<div class="p-4 text-center">

    <h2> kurs yakında baslayacak </h2>
    <h4> kurs h4</h4>
    <a> content</a>
    <a asp-action="AddRequest" class=" btn btn-primary"> Create a request   </a>

</div>